/* ===============Oswald, Barlow Condensed Font Link============== */

@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
li,
ul,
ol,
a {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

body {
  font-family: "Oswald", sans-serif;
}
:root {
  --primary-bg-color: #121212;
  --secondary-bg-color: #191919;
  --white: #fff;
  --pink: #ff4655;
  --Barlow-Condensed: "Barlow Condensed", sans-serif;
}

/* ===========================================
            Navbar Part css Start
==============================================*/
#navbar_part {
  background: url(../images/banner.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 1080px;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 25px 0;
}
.navbar__menu .menu {
  display: flex;
  align-items: center;
  column-gap: 30px;
  margin-left: 60px;
}
.navbar__menu .menu .menu__item a {
  color: #ddd;
  font-size: 16px;
  font-weight: 400;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}

.navbar__menu .menu .menu__item a:hover {
  color: var(--pink);
}

.navbar__icons {
  display: flex;
  align-items: center;
  column-gap: 30px;
  margin-left: 453px;
  position: relative;
}

.navbar__icons .navbar__icons__item {
  color: var(--white);
}
.first--icon {
  font-size: 23px;
  margin-bottom: 3px;
}
.last--icon {
  font-size: 23px;
  margin-bottom: 3px;
}
.effect--text {
  color: #fff;
}

.effect--text {
  position: absolute;
  top: -60%;
  left: -15%;
  color: white;
  padding: 2px 13px;
  background: #ff4655;
  text-align: center;
  font-size: 14px;
  opacity: 0;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}

.first--icon:hover .effect--text {
  left: -10%;
  opacity: 1;
}

.hover--text {
  position: absolute;
  top: -63%;
  right: -5%;
  color: white;
  padding: 2px 13px;
  background: #ff4655;
  text-align: center;
  font-size: 14px;
  opacity: 0;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}

.last--icon:hover .hover--text {
  opacity: 1;
  top: -63%;
  right: -10%;
}

.signin--text {
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
}
.signin--text .hideen--icon {
  margin-right: 7px;
  opacity: 1;
  transition: all linear 0.1s;
  -webkit-transition: all linear 0.15s;
  -moz-transition: all linear 0.1s;
  -ms-transition: all linear 0.1s;
  -o-transition: all linear 0.1s;
}
.signin--text:hover .hideen--icon {
  opacity: 0;
}

.hover--icon {
  color: #ff4655;
  font-size: 26px;
  position: absolute;
  top: 14%;
  left: 24%;
  transition: all linear 0.15s;
  -webkit-transition: all linear 0.15s;
  -moz-transition: all linear 0.15s;
  -ms-transition: all linear 0.15s;
  -o-transition: all linear 0.15s;
}
.navbar__icons__item .hover--icon {
  opacity: 0;
}
.signin--text:hover .hover--icon {
  opacity: 1;
  left: 27%;
}

/* ===========================================
            Navbar Part css End
==============================================*/
/* ===========================================
            Banner Part css Start
==============================================*/

.banner__subtitle {
  color: var(--white);
  font-size: 27px;
  font-weight: 400;
  letter-spacing: 2.7px;
  margin-top: 270px;
}
.banner__title {
  color: var(--white);
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 5px;
  position: relative;
}

.banner__title::before {
  position: absolute;
  content: "";
  left: 39.5%;
  bottom: 18.6%;
  width: 90px;
  height: 4px;
  background: var(--white);
}

.banner__description {
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  max-width: 523px;
  margin-bottom: 48px;
}

.banner__btn {
  color: var(--primary-bg-color, #121212);
  font-size: 16px;
  font-weight: 500;
  padding: 13px 24px;
  background: var(--white);
  border: none;
  cursor: pointer;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}
.banner__btn:hover {
  color: var(--white);
  background: var(--pink);
}
.banner__btn i {
  color: var(--pink);
  margin-left: 7px;
  vertical-align: text-bottom;
}

.banner__btn:hover i {
  color: var(--white);
}
.social_icon {
  margin-top: 265px;
}

.social_icon__item i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: var(--white);
  color: var(--pink);
  font-size: 20px;
  margin-right: 10px;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}
.social_icon__item i:hover {
  color: var(--white);
  background: var(--pink);
  transform: translateY(-15%);
  -webkit-transform: translateY(-15%);
  -moz-transform: translateY(-15%);
  -ms-transform: translateY(-15%);
  -o-transform: translateY(-15%);
}

/* ===========================================
            Banner Part css End
==============================================*/
/* ===========================================
            About Part css Start
==============================================*/
#about_part {
  padding: 34px 0 82px;
  background: var(--primary-bg-color);
}

.about__title {
  color: var(--white);
  font-size: 38px;
  font-weight: 600;
  letter-spacing: 2.66px;
  max-width: 518px;
  position: relative;
}
.about__title::after {
  width: 120px;
  height: 3px;
  content: "";
  background: var(--pink);
  position: absolute;
  bottom: 10%;
  left: 44%;
}
.about_body {
  display: flex;
  column-gap: 82px;
  margin-top: 57px;
}

.about__leftside {
  position: relative;
}
.about__leftsideBorder {
  position: absolute;
  top: -1%;
  left: -1%;
  width: 163px;
  height: 157px;
  background: var(--pink);
  z-index: -1;
}

.about__rightside__heading {
  color: var(--white);
  font-size: 27px;
  font-weight: 600;
  letter-spacing: 0.81px;
  margin-bottom: 7px;
}

.about__listItem {
  margin-bottom: 10px;
}

.about__listItem--text {
  color: var(--white);
  font-family: var(--Barlow-Condensed);
  font-size: 18px;
  font-weight: 400;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}
.about__listItem--text:hover {
  color: var(--pink);
}

.check--mark {
  color: var(--pink);
  margin-right: 10px;
}
.about__rightside__description {
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
  margin-top: 13px;
  margin-bottom: 30px;
}
.about__btn {
  padding: 13px 24px;
  background: #212121;
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}
.about__btn:hover {
  background: var(--pink);
}
.about__btn i {
  margin-left: 7px;
}

.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.counter__item {
  width: 315px;
  height: 170px;
  border-radius: 0px 50px;
  background: #212121;
  text-align: center;
  padding: 26px 0;
  cursor: pointer;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}

.counter__item:hover {
  background: var(--white);
}
.counter__item:hover .counter__item__title {
  color: black;
}
.counter__item:hover .counter__item__escription {
  color: black;
}

.counter__item__title {
  color: var(--white);
  font-family: var(--Barlow-Condensed);
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 1.8px;
  margin-bottom: 18px;
  position: relative;
}
.counter__item__title::after {
  position: absolute;
  bottom: 16%;
  right: 29%;
  width: 12px;
  height: 12px;
  content: "";
  background-color: var(--pink);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.counter__item__escription {
  color: var(--white);
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.36px;
}

/* ===========================================
            About Part css End
==============================================*/
/* ===========================================
            Popular Part css Start
==============================================*/

#popular_part {
  padding: 115px 0 90px;
  background: var(--secondary-bg-color);
}
.popular {
  display: flex;
  justify-content: flex-end;
}
.popular__title {
  color: var(--white);
  text-align: right;
  font-family: var(--Barlow-Condensed);
  font-size: 38px;
  font-weight: 600;
  letter-spacing: 2.66px;
  width: 457px;
  position: relative;
}
.popular__title::before {
  position: absolute;
  bottom: 9%;
  right: 28%;
  width: 105px;
  height: 3px;
  content: "";
  background: var(--pink);
}

/* ===========================================
            Popular Part css End
==============================================*/
/* ===========================================
            Navbar Part css Start
==============================================*/
/* ===========================================
            Navbar Part css End
==============================================*/
